.App {
  text-align: center;
  background-color: #220b4e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
}

button:hover {
  color: #220b4e;
  background-color: pink;
  border-color: #dbc8ff;
  transition: 0.2s all ease-in;
  cursor: pointer;
}

.card-item img {
  width: 200px;
  height: 200px;
}

.cards-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 20px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

